nav.responsive-toolbar {
    background: #333333;
    height: 60px;
    width: 100%;
    position: fixed;
    //box-shadow: 2px 0px 2px #ccc;
    box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12);
    z-index: 100;
    top:0;

    & ~ * {
        padding-top: 60px;
    }
   
    ul {
        background: #333333;
        display: flex;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        height: 100%;
        align-items: center;
        box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

        figure {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 10px;
            margin-inline-end: 0;
            cursor: pointer;
            box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
        }
        .image-logo:hover{
            background-color: rgba(109, 158, 255, 0.5);
        }
        .image-logo img{
            position: fixed;
            left: 9px;
        }

        li {
            list-style-type: none;
            padding: 10px 20px;

            .active {
                background: #A2D4FF;
            }
            // :hover{
            //     box-shadow:0 0.125rem 9.375rem rgb(255, 251, 190);
               
            // }
        }

        a {
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        i {
            margin-right: 5px;
            font-size: 20px;
        }
    }
}

    nav.responsive-toolbar {
        ul {
            height: 100%;
            width: 300px;
            left: -240px;
            position: fixed;
            top: 60px;
            flex-direction: column;
            transition: 300ms ease all;

            &.active {
                left: 0px;
            }

            figure {
                margin-inline-start: 2px;
                position: fixed;
                height: 60px;
                width: 295px;
                margin-top: -10px;
                                top: 10px;
            }

            li {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }

            a {
                flex-direction: row;
                justify-content: space-between;
                margin-left: 20px;
                margin-right: 16px;
            }
        }
    }
    @media only screen and (max-width: 600px){
        .app{
            position: relative;
            height: 100%;
        }
      
        nav.responsive-toolbar {
            position: absolute;
            top: 1100px;
            height: 60px;
            ul {
                height: 100%;
                width: 100%;
                left: 0px;
                position: absolute;
                bottom: 100px;
                flex-direction: row;
                transition: 300ms ease all;
                top: 0px;
                &.active {
                    left: 0px;
                }
    
                li {
                    width: 100%;
                    padding-left: 0px;
                    padding-right: 0;
                }
    
                a {
                    flex-direction: row;
                    margin-left: 0px;
                    margin-right: 30px;
                }
            }
        }
    }