.cardReset{
    position: relative;
    height: 400px;
}
.btnReset{
    position: absolute;
    top:85%;
    left:0%;
}
.cardReset input{
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .cardReset{
        position: relative;
        height: 300px;
    }
    .resetDivBody{
        margin-top:50px
    }
    .btnReset{
        position: absolute;
    top:85%;
    left:0%;
    }
}