.cardReset{
    height: 450px;
}
.btnReset{
    position: relative;
    top:250px;
    left:-15px
}

@media only screen and (max-width: 500px) {
    .cardReset{
        height: 300px;
    }
    .resetDivBody{
        margin-top:50px
    }
    .btnReset{
        position: relative;
        top:150px;
        left:-15px
    }
}