.main-footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top:10px
}
.copy span{
    position: absolute;
    left:55.5%;
    bottom: -30px;
    border: none;
}


@media only screen and (device-width: 768px) {
    .main-footer{
        width: 100%;
        position: fixed;
        bottom: 0px;
        margin-top:10px
    }
    .copy span{
        position: absolute;
        left:45%;
        bottom: -30px;
        border: none;
    }
   
    }