
#AllHobbieDiv{
    padding:2px;
}
.cardDivCenter {
    height: 100%;
    margin-right: -30px;
}
/*רשימת תחביבים שלא נבחרו*/
.HobbiesList {
    padding-top:28px;
    padding-bottom: 10px;
    float: left;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.HobbiesDiv {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
/*רשימת תחביבים שנבחרו*/
.HobbieAddedList {
    height: 100%;
    margin-left: 5px;
}
.HobbieAddedList .CardItem {
    max-height: 175px;
}
.HobbiesAdded {
    float: right;
    height: 100%;
}
/*תחביבים שנבחרו*/
.HobbiesListSide {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}
.titleAdded span {
    margin-left: 10px;
    font-size: 20px;
}

/*תמונת תחביב*/
.CardImage {
    max-width: 100%;
    max-height: 100%;
}
#open .CardItem img {
    height: 170px;
    width: 210px;
    max-width: 100%;
    max-height: 100%;
}
#close .CardItem{
    position: relative;
    height: 190px;
    width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 3px;
    position: relative;
    border-radius: 8px;
    border: 3px outset rgba(164, 164, 164, 0.28);
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.3s;
    box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
        0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
        0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}
#close .CardItem img{
    height: 190px;
    width: 240px;
    max-width: 100%;
    max-height: 100%;
}
#open .CardItem {
    position: relative;
    height: 170px;
    width: 210px;
    margin: 3px;
    position: relative;
    border-radius: 8px;
    border: 2px outset rgba(164, 164, 164, 0.28);
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.3s;
    box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
        0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
        0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}

.titleCardDiv {
    height: 19%;
    position: absolute;
    top: 82%;
    width: 100%;
    opacity: 0.7;
    background-color: #b3e0ff;
    font-weight: bold;
}
.cardDiv{
    margin-bottom: 100px;
}
.titleCardDiv h4 {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.CardItem:hover {
    background-color: #b3e0ff;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    z-index: 999;
    cursor: pointer;
}
.CardItem:hover .titleCardDiv {
    background-color: #00639d;
    color: white;
    cursor: pointer;
}
.CardItem:hover .titleCardDiv h4{
    color: white;

}

/*קו הפרדה*/
span.middleLine {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}
/*מחיקת תחביב*/
.del {
    position: absolute;
    bottom: 84%;
    left: 3%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 10px;
}
.delSpan i {
    color: black;
    font-size: 20px;
}
.del:hover {
    color: white;
}

/******************Phone*****************************/
@media only screen and (max-width: 600px) {
    .card .list-group-item {
        padding: 10px;
    }
    .centerDiv {
        margin-bottom: 100px;
    }
    .cardDiv {
        margin-bottom: 60px;
        padding-right: 0px;
    }
    .cardDivCenter {
        height: 100%;
        margin-right: 0px;
    }
    /*כותרת ראשית של העמוד*/
    .title {
        margin-left: 5px;
        margin-top: 0px;
    }
    /*תחביבים שלא נוספו*/
    .HobbiesDiv {
        margin-right: 0px;
    }
    .HobbiesList {
        padding-right: 0px;
    }
    

    /*תחביבים שנוספו*/
    .HobbieAddedList {
        margin-left: -16px;
    }
    .HobbiesListSide {
        padding-right: 0px;
        margin-right: -0px;
        justify-content: center;
    }
    .HobbiesAdded {
        padding-right: 0px;
        justify-content: center;
    }
    .titleAdded span {
        margin-left: 5px;
        font-size: 15px;
    }
    /*כרטיס תחביב*/
   #close .CardItem {
        height: 108px;
        width: 144px;
    }
   #close .CardItem img {
        height: 108px;
        width: 144px;
    }
    .titleCardDiv h4 {
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        line-height: 15px;
    }
    .titleCardDiv h4:hover {
        color: white;
    }
    .titleCardDiv {
        height: 20%;
        position: absolute;
        top: 83%;
        width: 100%;
        opacity: 0.7;
        background-color: #b3e0ff;
        font-weight: bold;
    }
    .titleCardDiv:hover {
        background-color: #00639d;
        color: white;
        cursor: pointer;
    }
    .del {
        position: absolute;
        bottom: 77%;
        left: 3%;
        font-size: 8px;
    }
    /*קו הפרדה*/
    span.middleLine {
        height: 10px;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
   
 
}
