.chooseLink input{
border-radius: 4px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
height: 30px;
}
.imageicons{
    width: 20px;
    height: 20px;
}
.form-group .react-date-picker__wrapper{
    height: auto;
    padding: .4375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.headDiv{
    background-color: #e0eef9;
    text-align: center;

}
.headDiv h6{
    font-size: 28px;
}

.LinkList{
    margin:auto;
    margin-top:15px;
    margin-bottom: 5px;
    border:1px solid black;
    border-radius: 4px;
    height: 100%;
    max-width: 95%;
}
.myForm{
    font-size: 20px;

}
.form-control{
    font-size: 20px;
}
#birth {
    height: auto;
    padding: .4375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06); 
}
.centerDiv {
    margin-bottom: 80px;
}


@media only screen and (max-width: 600px) {
     .form-control{
        font-size: 12px;
    }
    .myForm{
        font-size: 12px;
    }
    .centerDiv{
        margin-left:15px;
        margin-top: 5px;
    }
    .react-tel-input input{
        width: 90%;
    }
  
}
