.modalAddCity {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 11px 10px 8px 3px rgba(0,0,0,0.66);
    -moz-box-shadow: 11px 10px 8px 3px rgba(0,0,0,0.66);
    box-shadow: 11px 10px 8px 3px rgba(0,0,0,0.66);
        position: absolute;
    left: 50%;
    z-index: 999;
}
.FilterButton{
    margin-top: 20px;
}
.GreenSpan{
    color:blue;
}
.listGroupTrip .list-group-item{
    background-color: #f5f6f8;
    border-top:0px solid #004a8a;
    border-right:0px solid #004a8a;
    border-bottom:2px solid #ced7e2;
    border-left:0px solid #004a8a;
}

.modalAddattraction {
    width: 100%;
    background-color: rgba(242, 246, 255, 0.9);
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 
        position: absolute;
    left: 50%;
    z-index: 999;
    border-radius: 8px;
    max-width: 550px;
}
.MuiAutocomplete-input {
    margin-top: 0px;
    margin-bottom: 0px;
}
.modalAddattraction Form {
    padding: 20px;
    height: 100%;
    position: relative;
}
#list {
    display: block;
    max-width: 400px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.delAttraction i{
    color:red
}
.modalAddCity .BTNSubmit {
    position: absolute;
    top: 480px;
}
.modalAddCity Form {
    padding: 20px;
    height: 100%;
    position: relative;
}
.react-datepicker {
    display: flex;
}
.react-datepicker-wrapper {
    display: flex;
}
.react-datepicker-popper {
    position: absolute;
    top: 20px;
    left: 0px;
}
.leftSide {
    margin-right: 20px;
}
.rightSide div {
    position: absolute;
    left: 30%;
}
input {
    height: auto;
    padding: 0.4375rem 0.75rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color, box-shadow;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
        border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}
.listCities {
    height: auto;
    padding: 0.4375rem 0.75rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color, box-shadow;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
        border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}
.open {
    height: 700px;
}
.open .BTNSubmit {
   margin-bottom: 20px;
}

.react-datepicker__input-container input {
    height: 57px;
    margin-top: 16px;
    border: 1px solid #bfc0c1;
}
.ExistDiv {
    font-size: 20px;
    margin-left: 95%;
    height: 30px;
    width: 30px;
}
.ExistDiv:hover{
cursor: pointer;
}
.DetailsAttraction{
    height: 100%;
    margin-bottom: 20px;
}
.drag{
    z-index: 999;
}
.colAutoName{
    margin-bottom: 10px;
}
.rowDates{
    margin-left: 10px;
}
.form-group label{
    margin-bottom: 0px;
}
.react-datepicker-wrapper{
    margin-top: -10px;
}
.TripList{
    -webkit-box-shadow: 0 5px 11px 0 rgba(80, 87, 93, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(60, 74, 84, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 
}

.SelectTourist{
    margin-left: 30px;
    width: 40%;
}
