.modalAddCity {
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    position: absolute;
    left:50%;
    z-index: 999;
    height: 700px;
}
.MuiAutocomplete-root MuiAutocomplete-hasClearIcon MuiAutocomplete-hasPopupIcon{
    width: none;
}
.modalAddattraction{
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    position: absolute;
    left:50%;
    z-index: 999;
    height: 700px;
}
.modalAddattraction Form{
    padding:20px;
    height: 100%;
    position: relative;
   
}
#list {
    display: block;
    max-width: 400px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }

.modalAddCity .BTNSubmit{
    position: absolute;
    top: 500px;
}
.modalAddCity Form {
    padding:20px;
    height: 100%;
    position: relative;
}
.react-datepicker{
    display: flex;
}
.react-datepicker-wrapper{
    display: flex;
  
}
.react-datepicker-popper{
    position: absolute;
    top:20px;
    left: 0px;
}
.leftSide{
    margin-right: 20px;
}
.rightSide div {
    position: absolute;
   left:30%
  
}
input{
    height: auto;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.listCities{
    height: auto;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.open{
    height: 700px;
}
.open .BTNSubmit{
    position: absolute;
    top: 0%;
}