.main-footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top:10px
}
.copy span{
    position: absolute;
    left:90%;
    bottom: -30px;
    border: none;
}
.copyright{
}
.nav{
}