.HobbiesList{
float: left;
height: 100%;
}
.HobbieAddedList{
    margin-left: 10px;

}
.HobbiesDiv{
   margin:0 auto;
    border:1px solid rgba(0,0,0,.125);
}
.HobbiesAdded{
float: right;
height: 100%;
}
.CardImage{
   
    max-width: 100%;
    max-height: 100%;
}
.CardItem img{
    height: 70px;
    width: 70px;
}

span.middleLine{
    display:inline-block;
    border-right:1px solid rgba(0,0,0,.125);
}

.CardItem{
border:1px solid rgba(0,0,0,.125);
margin:3px;
}
.CardItem:hover{
    background-color: #b3e0ff;
}
.CardItem h4{
    text-align: center;
}

.HobbiesListSide{
    max-width: 100%;
    max-height: 100%;
}
.titleAdded span{
    margin-right: 3px;
}
