#close{
    height: 100%;
    left: 100px;
    position: relative;
    top: 0px;
    flex-direction: column;
    transition: 300ms ease all;
    width: 90%;
}
.cardDiv{
}

#close .CardBodyDiv{
    max-height: 600px;
}


#open{
    height: 100%;
    left: 160px;
    position: relative;
    top: 0px;
    flex-direction: column;
    transition: 300ms ease all;
    width: 80%;
}
body{
    overflow-y: scroll;
  }
.HomePageContainer{
    position: relative;
    margin-top:40px;
    margin-bottom: 50px;
}
.homePage{
    margin:0 auto;
    max-height: 100%;
    padding: 10px;
}
.foot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border:1px solid;
}
.copyright{
    position: absolute;
    border:1px solid #999;
    width: 100%;
    bottom:15px;
}
@media only screen and (max-width: 600px) {
   #close{
    left: 80px;

   }
  }