.CardBodyDiv img{
max-width: 75%;
max-height: 75%;
margin-top:5%;
margin-left: 12.5%;
width: 75%;
height: 75%;
border-radius: 50% 50% 50% 50%;
}
.CardBodyDiv {
    max-height: 100%;
    max-width: 100%;
    
}
.uploadPicIcon{
    font-size: 40px;
    position: absolute;
    top:80%;
    left:80%;
    color:rgb(0, 100, 199);
}
.imageClass{
    position: relative;
}
.CardBodyDiv Button{
    width: 100%;
}
.uploadDiv{
   margin-bottom: 20px;
    width: 200px;
    height: 200px;
    overflow: auto;
}
