.ulSign {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #e7e7e7;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  }
  
 .ulSign li {
    float: left;
  }
  
 .ulSign li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .ulSign li a:hover {
    background-color:  #b3e0ff;
  }

  .active {
    background-color: rgba(57, 163, 255, 0.4);
  }