.ulSign {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #e7e7e7;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    font-size: 20px;
  }
  .menuPhone{
    position: relative;
    top:3px;
  }
  .ulSignPhone{
    width: 150px;
    position: absolute;
    background-color:  #e7e7e7;
    opacity: 0.9;
    list-style-type: none;
    z-index: 800;
    top:105px;

  }
.ulSignPhone li{
  font-size: 12px;
}

  .ulSignPhone li a{
    display: block;
    color: black;
    text-decoration: none;
  }
.ulSignPhone li a:hover{
  background-color:  #b3e0ff;
}
.ulSignPhone .active{
  margin-left:-20px;
}
  
 .ulSign li {
    float: left;
    width:25%;
  }
  
 .ulSign li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .ulSign li a:hover {
    background-color:  #b3e0ff;
  }

  .active {
    background-color: rgba(57, 163, 255, 0.4);
  }
  .navprovilePhone{
    float: left;
  }
  .titlePhone{
    float: right;
    margin-top: 5px;
  }
  .divHead{
    position: absolute;
    top: 100%;
    margin-bottom: 15px;
  }