.ulSign {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #66c2ff;
    border-top-left-radius: 8px;
  }
  
 .ulSign li {
    float: left;
  }
  
 .ulSign li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .ulSign li a:hover {
    background-color:  #b3e0ff;
  }

  .active {
    background-color: rgb(20, 131, 243);
  }